* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
  transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

